@import partials/variables
@import partials/mixins
  
@import partials/bottom-block
@import partials/checkbox-styles
@import partials/link-styles
@import partials/button-styles
@import partials/top-block
@import partials/blog-block
@import partials/property-block
@import partials/carousel-block
@import partials/telegram-block
@import partials/elem-styles
@import partials/selector

*
  box-sizing: border-box

h2
  font-size: 24px

body
  width: 100%
  margin: auto
  background-color: rgba(90, 104, 114, 0.08)
  font: 14px "Open Sans", sans-serif
  position: relative

$maincolor: #30AE63
button
  text-align: center
  border-color: rgba(255,255,255,0.1)

header
  display: flex
  justify-content: center

.checkbox__indicator
  border: 2px solid white

.checkbox:hover input ~ .checkbox__indicator,
.checkbox input:focus ~ .checkbox__indicator
  @include checkbox-styles(white, $green)

.checkbox input:checked ~ .checkbox__indicator,
.checkbox input:checked:focus ~ .checkbox__indicator
  @include checkbox-styles(white, $green)
	
.centering-block
  display: flex
  justify-content: center


.top
  @include background("../img/homepage.png")
  background-size: 100% 100%
  color: white
  width: 100%
  min-height: 301px
  position: relative

  &__container
    width: 80%
    margin: auto
    align-content: center

  &__main-part
    padding-left: 30px
    &_name
      font-size: 32px
      @media screen and (max-width: 360px)
        font-size: 24px

    &__container
      justify-content: space-between
      display: flex
      flex-wrap: wrap
      align-items: center
      margin-bottom: 40px
      
    &__chooser
      transform: translateY(-28%)
      line-height: 15px
      
      &_selector
        width: 230px
        height: 40px
        border-color: none

    &__checkbox-for-rooms
      width: 265px
      line-height: 15px
      margin-left: 5%
      transform: translateY(-20%)
      
      &_amount
        display: flex
        justify-content: left
        line-height: 40px
        
    div.button.button_white
      margin-left: 1rem
      transform: translateY(-15%)

.check
  color: $maincolor
  background-color: transparent

.content
  width: 80%
  margin: 0 auto
  text-align: center

  .connect
    justify-content: center
    h2
      font-size: 24px
    p
      margin: 0 auto
      max-width: 504px
    &__buttons
      display: flex
      justify-content: center

      padding-top: 20px
      padding-bottom: 20px
      a
        color: black
        padding-right: 20px


  .dots
    display: flex
    width: 100%
    justify-content: center
    margin: 50px 0
    word-spacing: 10px

    &__item
      border: 2px solid $maincolor
      border-radius: 50%
      margin: 0 6px
      height: 14px
      width: 14px
      &:hover
        background-color: $maincolor
        cursor: pointer

    .best
      padding-top: 15px
      padding-bottom: 15px
      border-top: 2px solid #ccc
      text-align: center
      a
        color: black
		
footer
  text-align: center
  margin: 30px 0


@media screen and (min-width: 891px)
  .top__menu.top__menu_right
    li:nth-child(3n+3)
      display: none


@media screen and (max-width: 890px)
  h2
    font-size: 20px

  .top__container
    width: 100%
    margin-left: -30px
    
  .top__menu.top__menu_left
    li:nth-of-type(1n+3)
      display: none
      
  .top__menu.top__menu_right
    li:not([class="dropdown"])
      display: none

  .property
    width: 100%
    &__info
      padding-left: 10px
      &_name
        font-size: 20px

  .carousel
    width: 100%
    &_name
      font-size: 20px

  .content
    width: 100%
    margin-left: 5px
    
  .telegram_image
    display: none





