* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

body {
  width: 100%;
  margin: auto;
  background-color: rgba(90, 104, 114, 0.08);
  position: relative; }

button {
  text-align: center;
  border-color: rgba(255, 255, 255, 0.1);
  height: 40px; }

A {
  color: white; }

A:link {
  text-decoration: none; }

A:hover {
  border-bottom: 3px solid #30AE63; }

A:visited {
  text-decoration: underline; }

.top {
  background-image: url("../img/homepage.png");
  background-position: 0 0;
  background-repeat: round;
  color: white;
  width: 100%;
  min-height: 301px;
  position: relative; }
  .top__container {
    min-width: 70%;
    max-width: 890px;
    margin: auto; }
  .top__menu {
    margin: auto;
    list-style: none; }
    .top__menu li {
      display: inline-block; }
      .top__menu li:nth-child(5) {
        padding-right: 10%; }
      .top__menu li a {
        padding: 0px 20px; }
        .top__menu li a:hover {
          border-bottom: 4px solid rgba(255, 255, 255, 0.2); }
    .top__menu__logo {
      transform: translateY(35%); }
    .top__menu__add {
      color: white;
      height: 40px;
      width: 236px;
      margin-right: 3px;
      background-color: rgba(255, 255, 255, 0.1); }
      .top__menu__add img {
        padding-right: 7px;
        transform: translateY(20%); }
  .top__main_part {
    padding-left: 40px; }
    .top__main_part__name {
      font-size: 32px; }
    .top__main_part__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .top__main_part__container__chooser {
        transform: translateY(-28%);
        line-height: 15px; }
        .top__main_part__container__chooser__selector {
          width: 344px;
          height: 40px;
          border-color: none; }
      .top__main_part__container__number_of_rooms {
        padding-right: 50px;
        list-style: none;
        transform: translateY(-17%); }
        .top__main_part__container__number_of_rooms p {
          padding-left: 40px; }
        .top__main_part__container__number_of_rooms li {
          display: inline-block; }
          .top__main_part__container__number_of_rooms li button {
            width: 40px;
            border-color: white;
            border-radius: 50%;
            background-color: transparent;
            border-style: solid; }
          .top__main_part__container__number_of_rooms li button:hover {
            background-color: white; }
      .top__main_part__container__search {
        flex-shrink: 1;
        width: 201px;
        background-color: white;
        color: #30AE63;
        border-color: #30AE63; }

.block2 {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  width: 80%;
  justify-content: center;
  color: black;
  margin: 0 auto;
  background-color: white;
  padding-top: 55px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 40px;
  overflow: hidden; }
  .block2__info {
    width: 390px;
    padding-left: 45px; }
    .block2__info__name {
      font-size: 24px; }
    .block2__info__list {
      list-style: none; }
      .block2__info__list li {
        display: inline-block;
        padding-right: 40px; }
        .block2__info__list li a {
          color: black; }
    .block2__info__selector {
      width: 313px;
      height: 40px;
      border-color: none; }
    .block2__info__button_show {
      margin-top: 20px;
      width: 320px;
      height: 40px;
      color: white;
      background-color: #30AE63; }
  .block2__image {
    width: 411px;
    height: 212px; }

.check {
  color: #30AE63;
  background-color: transparent; }

.block3, .block4 {
  position: relative;
  width: 80%;
  color: black;
  margin: auto;
  background-color: white;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden; }
  .block3__name, .block4__name {
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 24px;
    text-align: center; }
  .block3__mainpart, .block4__mainpart {
    position: flex;
    flex-wrap: nowrap;
    display: inline-flex;
    justify-content: center;
    padding-left: 15px;
    padding-bottom: 15px; }
    .block3__mainpart__content, .block4__mainpart__content {
      padding-right: 5px;
      flex-wrap: nowrap; }
      .block3__mainpart__content__info p, .block4__mainpart__content__info p {
        text-align: left;
        font-size: 12px;
        padding-left: 15px;
        line-height: 5px; }
      .block3__mainpart__content__info__details, .block4__mainpart__content__info__details {
        color: gray; }
  .block3__best, .block4__best {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid #ccc;
    text-align: center; }
    .block3__best a, .block4__best a {
      color: black; }

.block4__list {
  text-align: center;
  list-style: none; }
  .block4__list li {
    display: inline-block;
    padding-right: 40px; }
    .block4__list li a {
      color: black; }
