    	<div class="bottom-links">
          <div class="column">
              <ul class="column-list">
									<li class="column-list__title">Metrovka</li>
									<li class="column-list-entry"><a class="column-list-entry__text" href="">О компании</a></li>
                  <li class="column-list-entry"><a class="column-list-entry__text" href="">Пресса о нас</a></li> 
									<li class="column-list-entry"><a class="column-list-entry__text" href="">
											Пользовательское соглашение</a></li>
									<li class="column-list-entry"><a class="column-list-entry__text" href="">Карта сайта</a></li>
									<li class="column-list-entry"><a class="column-list-entry__text" href="">Помощь</a></li>
              </ul>
          </div>
            
          <div class="column">
              <ul class="column-list">
									<li class="column-list__title">Партнерство</li>
                  <li class="column-list-entry"><a class="column-list-entry__text" href="">Как разместить обьявление</a></li>
									<li class="column-list-entry"><a class="column-list-entry__text" href="">Инструменты продвижения</a></li>
									<li class="column-list-entry"><a class="column-list-entry__text" href="">
											Правила заполнения обьявлений</a></li>
              </ul>
          </div>
            
          <div class="column">
              <ul class="column-list">
									<li class="column-list__title">Узнайте больше</li>
                  <li class="column-list-entry"><a class="column-list-entry__text" href="">Бонусная программа Bonus+</a></li>
									<li class="column-list-entry"><a class="column-list-entry__text" href="">Telegram Metrovka Bot</a></li>
									<li class="column-list-entry"><a class="column-list-entry__text" href="">Как работает поиск</a></li>
									<li class="column-list-entry"><a class="column-list-entry__text" href="">
											Как пользоваться избранным</a></li>
              </ul>
          </div>
            
          <div class="column">
              <ul class="column-list">
				  <li class="column-list__title">Контакты</li>
				  
				  <li class="column-list-entry
							 column-list-entry__social">
					  <a class="column-list-entry__text" href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
					  <a class="column-list-entry__text" href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
					  <a class="column-list-entry__text" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
				  </li>
				  
				  <li class="column-list-entry">ул. Жилянская, 37
					  <span class="column-list-entry__address">Киев, 01033</span>
				  </li>
				  <li class="column-list-entry">info@metrovka.ua</li>
				  <li><a class="text_non-decorated" href="">
						<div class="button button_green">Оставить заявку</div></a>
				  </li>
              </ul>
          </div>
      </div>