<div class="heading">
			<div class="heading-link">
				<a class="text_non-decorated listing__link" href="#">Долгосрочная аренда</a>
				<span class="slash">/</span>
			
				<a class="text_non-decorated listing__link" href="#">Квартиры</a>
				<span class="slash">/</span>
			
				<a class="text_non-decorated listing__link" href="#">Киев</a>
			</div>
			
			<a class="text_non-decorated 
					  listing__link
					  heading-link_mobile" href="#">Назад на главную</a>
			
			<h2>Долгосрочная аренда квартир в Киеве</h2>	
			<div class="heading-results">
				<div class="heading-results__amount">
					3 варианта размещения
				</div>
						
				<div class="heading-results-sort">
					<select class="heading-results-sort__by heading-results-sort__by_price">
						<option selected value="sort">Сортировать</option>
                    	<option value="cheap">Сначала дешевые</option>
                    	<option value="expensive">Сначала дорогие</option>
                	</select>
								
					<select class="heading-results-sort__by heading-results-sort__by_currency">
						<option selected value="currency">Валюта</option>
                    	<option value="UAH">Гривна</option>
                    	<option value="USD">Доллар</option>
						<option value="EUR">Евро</option>
                	</select>
				</div>
		 	</div>
		</div>