<header>
 		<div class="top-container">
			<div class="top-menu top-menu__nav">
				<ul>
					<li><img class ="top-menu__logo" src="img/logo.png" alt="logo"/></li>
					<li><a class="text_non-decorated" href="#">
						<div class="top-button">Аренда</div></a>
					</li>
					
					<li><a class="text_non-decorated" href="#">
						<div class="top-button">Продажа</div></a>
					</li>
					
					<li><a class="text_non-decorated" href="#">
						<div class="top-button">Посуточно</div></a>
					</li>
					
					<li><a class="text_non-decorated" href="#">
						<div class="top-button"><img src="img/Settings.png" alt="dots">Еще</div></a>
					</li>
				</ul>
			</div>
			
			<div class="top-menu top-menu__actions">		
				<ul>
                	<li><a class="text_non-decorated" href="#">
						<div class="button top-menu__button">
							<img src="./img/Shape.png" alt="add"/>
											Разместить объявление
						</div></a>
					</li>
					
					<li><a class="text_non-decorated" href="#">
						<div class="top-button">Войти</div></a>
					</li>
					<li><a class="hamburger" href="menu.html"><i class="fa fa-bars" aria-hidden="true"></i></a>
					</li>
            	</ul>
			</div>
		</div>              
  </header>