<div class="listing">
			<div class="listing__image listing__image_third"></div>
			 
			<div class="slider3">
	
			<div class="listing-info slide">
				<a class="text_non-decorated
						  listing__link" href="#">2 комн., Оболонский р-н, Полярная 20</a>
					
				<div class="listing-info-location">
					<div class="subway-identifier
								subway-identifier_blue"></div>Героев Днепра
					<span class="subway-identifier__distance">10 мин пешком</span>
				</div>
						
				<div class="listing-features">
					<span class="listing-features__title">Особенности</span>
								
					<div class="listing-features__details">78 кв. м.
						<div class="divider"></div>этаж 2 из 5
					</div>
								
					<div class="listing-features__text">
						<p>Без комунальных, евроремонт, хозяева в Польше, 15 мин. 
										до озера, кофеварка, уборщица.</p>
					</div>
				</div>
			</div>
			
			<div class="listing-info slide">
				<a class="text_non-decorated
						  listing__link" href="#">2 комн., Дарницкий р-н, Пчелки 2б</a>
					
				<div class="listing-info-location">
					<div class="subway-identifier
								subway-identifier_green"></div>Позняки
					<span class="subway-identifier__distance">30 мин пешком</span>
				</div>
						
				<div class="listing-features">
					<span class="listing-features__title">Особенности</span>
								
					<div class="listing-features__details">120 кв. м.
						<div class="divider"></div>этаж 1 из 5
					</div>
								
					<div class="listing-features__text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat ex non feugiat interdum. Nunc eget justo tincidunt enim faucibus eleifend sed sit amet nisi. Vivamus eget scelerisque justo</p>
					</div>
				</div>
			</div>
	</div>
	
			<div class="listing-pricing">
				<div class="listing-pricing__uah">11 500 грн</div>
				<div class="listing-pricing__usd">
					<label>420$</label>
					<a class="text_non-decorated">
						<div class="listing-pricing__usd__rate">курс</div>
					</a>
				</div>
						
				<div class="listing-pricing__label">
					<div class="listing-pricing__label_green">Хорошая цена
						<img src="img/info.png" alt="info">
					</div>
				</div>
						
				<div class="listing-pricing-connect">
					<div class="listing-pricing-connect__call">
						<img src="img/phone.png" alt="call">
					</div>
					<div class="listing-pricing-connect__text">
						<img src="img/facebook-messenger.png" alt="text">
					</div>
				</div>
						
				<div class="listing-pricing__next">
					<a class="text_non-decorated
							  listing-pricing__next_link" href="#">След. раздел <img src="img/arrow.png" alt="next">
					</a>
					<p>Инфраструктура</p>
				</div>
			</div>
		</div>

		//= listing-dots.html
