
<div class="content">
	<div class="connect">
		<h2>Общайтесь в Telegram</h2>
		<p>Не отвлекайтесь больше на формальности. Получайте моментальные уведомления
			о новых обьявлениях, общайтесь без ограничений.</p>

		<div class="connect__buttons">
			<a href="#">
				<div class="connect__buttons_item">
					Поиск недвижимости</div>
			</a>

			<a class="text_non-decorated" href="#">
				<div class="connect__buttons__item">
					Общение с клиентами</div>
			</a>
		</div>
	</div>

	<div class="telegram">
		<img class="telegram_image" src="img/telegram_phone.svg" alt="telegram phone">

		<div class="telegram__content">
			<div class="telegram__content_title">
					<h2>
						<img src="img/telegram_icon.svg">
						Telegram
					</h2>
			</div>

			<h2>Metrovka Bot</h2>
			<ol class="telegram__content__list">
				<li class="telegram__content-list_entry">
					Cобирайте аналитику по обьектам
				</li>
				<li class="telegram__content__list_entry">
					Получайте подсказки по эффективному продвижению обьявлений
				</li>
				<li class="telegram__content__list_entry">
					Общайтесь с клиентами через специальный канал телекоммуникации
				</li>
			</ol>

			<button>Присоединиться в Telegram</button>
		</div>
	</div>

	<div class="dots">
		<div class="dots__item"></div>
		<div class="dots__item"></div>
	</div>

	<div class="blog">
		<div class="blog__title">
			<h2>Блог Metrovka</h2>
			<p>Хитрости, приемы, советы, фото и видео - все о том, как продать, купить,
				сдать в аренду или арендовать недвижимость.</p>
		</div>

		<div class="blog__feed">
			<div class="blog__feed__item">
				<img class="blog__feed__item_image" src="img/blog_1.svg">

				<h4>
					ЛАЙФХАК
				</h4>

				<h6><a class="blog__feed__item_topic" href="">
					Киевляне могут оплатить коммуналку через Facebook...</a>
				</h6>

				<div class="blog__feed__item_author">Татьяна Малыняк
					&#9679 5 мин чтения
				</div>
			</div>

			<div class="blog__feed__item">
				<img class="blog-feed__item_image" src="img/blog_2.svg">

				<h5>
					СОВЕТ METROVKA
				</h5>

				<h6><a class="blog__feed__item_topic" href="">
					ТОП-5 самых дешевых квартир Киева</a>
				</h6>

				<div class="blog__feed__item_author">Татьяна Малыняк
					&#9679 4 мин чтения
				</div>
			</div>

			<div class="blog__feed__item">
				<img class="blog__feed__item_image" src="img/blog_3.svg">

				<p>
					ТЕХНОЛОГИИ
				</p>


				<h6><a class="blog__feed__item_topic" href="">
					Смарт-квартиры: цены, предложения и законность</a>
				</h6>

				<div class="blog__feed__item_author">Татьяна Малыняк
					&#9679 2 мин чтения
				</div>
			</div>
		</div>

		<div class="best"><a href="#">Перейти на страницу блога</a></div>
	</div>

	<div class="info">
		<div class="column">
			<ul>
				<li class="title">Metrovka</li>
				<li><a href="">О компании</a></li>
				<li><a href="">Пресса о нас</a></li>
				<li><a href="">Пользовательское соглашение</a></li>
				<li><a class="column__list_entry_text" href="">Карта сайта</a></li>
				<li><a class="column__list_entry_text" href="">Помощь</a></li>
			</ul>
		</div>

		<div class="column">
			<ul>
				<li class="title">Партнерство</li>
				<li><a href="">Как разместить обьявление</a></li>
				<li><a href="">Инструменты продвижения</a></li>
				<li><a href="">Правила заполнения обьявлений</a></li>
			</ul>
		</div>

		<div class="column">
			<ul >
				<li class="title">Узнайте больше</li>
				<li><a href="">Бонусная программа Bonus+</a></li>
				<li><a href="">Telegram Metrovka Bot</a></li>
				<li><a href="">Как работает поиск</a></li>
				<li><a href="">Как пользоваться избранным</a></li>
			</ul>
		</div>

		<div class="column">
			<ul >
				<li class="title">Контакты</li>
				<li>
					<img src="img/facebook.png" alt="blog1"/>
					<img src="img/VK.png" alt="blog2"/>
					<img src="img/instagram.png" alt="blog3"/>
				</li>
				<li>ул. Жилянская, 37<br>Киев, 01033<li>
				<li>info@metrovka.ua</li>
				<li><button>Оставить заявку</button></li>
			</ul>
		</div>
	</div>
</div>

<footer>
	<img src="img/logo.svg" alt="logo"/>
</footer>

