<div class="carousel">
        <div class="carousel_name">Лучшие предложения в Киеве</div>
        <div class="carousel__mainpart">
          
            <div class="carousel__content">
                <img src="./img/homees-01.png" alt="homees"/>
                <div class="carousel__content_info">
                    <a class="text_non-decorated link_hover_green"><p>7 800 грн <img src="img/Shape2.png" alt="check" class="check"/></p></a>
                    <p class="carousel__content_details">2 комн.&#9679 30 кв.м </p>
                    <p>&#9679 Политехнический институт</p>
                </div>
            </div>
    
            <div class="carousel__content">
                <img src="./img/homees-01.png" alt="homees"/>
                <div class="carousel__content_info">
                  <a class="text_non-decorated link_hover_green"><p>6 900 грн <img src="img/Shape2.png" alt="check" class="check"/></p></a>
                    <p class="carousel__content_details">1 комн.&#9679 30 кв.м </p>
                    <p>&#9679 Политехнический институт</p>
                </div>
            </div>
            <div class="carousel__content">
                <img src="./img/homees-01.png" alt="homees"/>
                <div class="carousel__content_info">
                  <a class="text_non-decorated link_hover_green"><p>7 800 грн <img src="img/Shape2.png" alt="check" class="check"/></p></a>
                    <p class="carousel__content_details">2 комн.&#9679 48кв.м </p>
                    <p>&#9679 Политехнический институт</p>
                </div>
            </div>
            <div class="carousel__content">
                <img src="./img/homees-01.png" alt="homees"/>
                <div class="carousel__content_info">
                  <a class="text_non-decorated link_hover_green"><p>9 000 грн <img src="img/Shape2.png" alt="check" class="check"/></p></a>
                    <p class="carousel__content_details">2 комн.&#9679 48кв.м </p>
                    <p>&#9679  Политехнический институт</p>
                </div>
            </div>
        </div>
        <a class="long-button_font" href="#"><div class="long-button">Смотреть лучшие ценовые предложения</div></a>
  </div>