    <div class="property">
        <div class="property__info">
            <p class="property__info_name">Недвижимость возле метро</p>
            <ul class="property__list">
                <li ><a class="text_non-decorated link_hover_green" href="#">Квартиры</a></li>
                <li><a class="text_non-decorated link_hover_green" href="#">Дома</a></li>
                <li><a class="text_non-decorated link_hover_green" href="#">Офисы</a></li>
            </ul>
            <select class="property__selector">"
              <option value="Политех"><span>&#9679</span> Политехнический институт</option>
                <option value="Шулявка"><span>&#9679</span> Шулявская</option>
                <option value="Вокзальная"><span>&#9679</span> Контрактовая площадь</option>
            </select>
           <a class="text_non-decorated link_hover_green"><div class="button button_green long">Показать результаты поиска</div></a>
        </div>
        <div class ="property__image">
            <img src="./img/metro.png" alt="metro"/>
        </div>
    </div>