<div class="slider">
	<div class="slide">
		<div class="telegram">

    		<img class="telegram_image" src="img/telegram_phone.svg" alt="telegram phone">

    		<div class="telegram__content">
    			<div class="telegram__content_title">
    					<h2>
    						<img src="img/telegram_icon.svg">
    						Telegram
    					</h2>
    			</div>

    			<h2>Metrovka Bot</h2>
    			<ol class="telegram__content__list">
    				<li class="telegram__content-list_entry">
    					Cобирайте аналитику по обьектам
    				</li>
    				<li class="telegram__content__list_entry">
    					Получайте подсказки по эффективному продвижению обьявлений
    				</li>
    				<li class="telegram__content__list_entry">
    					Общайтесь с клиентами через специальный канал телекоммуникации
    				</li>
    			</ol>

    			<a class="text_non-decorated link_hover_green"><div class="button button_green long">Присоединиться в Telegram</div></a>
    		</div>
		</div>
	</div>
	
	<div class="slide">
		<div class="telegram">
    		

    		<div class="telegram__content">
    			<div class="telegram__content_title">
    					<h2>
    						<img src="img/telegram_icon.svg">
    						Lorem Ipsum
    					</h2>
    			</div>

    			<h2>Not Bot</h2>
    			<ol class="telegram__content__list">
    				<li class="telegram__content-list_entry">
    					Do smth
    				</li>
    				<li class="telegram__content__list_entry">
    					Do smth twice
    				</li>
    				<li class="telegram__content__list_entry">
    					Stop doing smth
    				</li>
    			</ol>

    			<a class="text_non-decorated link_hover_green"><div class="button button_green long">Присоединиться в Telegram</div></a>
    		</div>
			<img class="telegram_image" src="img/telegram_phone.svg" alt="telegram phone">
		</div>
	</div>
</div>

<div class="dots">
   	<div class="dots__item"></div>
    <div class="dots__item"></div>
</div>