<div class="top__container">
        <div class="top__main-part">
            <p class="top__main-part_name">Поиск недвижимости в Украине</p>
                <div class="top__main-part__container">
                    <div class="top__main-part__chooser">
                        <p >Выберите город</p>
                        <select class="top__main-part__chooser_selector">
                            <option selected value="Киев">Киев</option>
                            <option value="Харьков">Харьков</option>
                            <option value="Запорожье">Запорожье</option>
                            <option value="Львов">Львов</option>
                        </select>
                    </div>

                    <div class="top__main-part__checkbox-for-rooms " >
                        <p>Кол-во комнат</p>
                        <div class="top__main-part__checkbox-for-rooms_amount">
                            <div class="checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__indicator">1</div>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__indicator">2</div>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__indicator">3</div>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__indicator">4</div>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__indicator">5+</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="text_non-decorated" href="#"><div class="button button_white">Перейти к поиску</div></a>
                    </div>
                </div>
        </div>
    </div>