.connect {
  margin: 30px auto; }

.connect-buttons {
  margin: 0 auto; }

.connect-buttons-item {
  margin: 0 20px;
  padding: 10px;
  border-bottom: 3px solid transparent;
  color: black; }

.connect-buttons-item:hover {
  border-bottom: 3px solid #30ae63; }

.telegram {
  margin: 20px auto;
  display: flex;
  justify-content: center; }

.telegram__image {
  margin-right: 15%;
  margin-left: 10%; }

.telegram-content {
  padding: 3% 7% 0 4%;
  background-color: white;
  margin: 65px 0;
  height: 448px;
  width: 50%;
  position: relative; }

.telegram-content-title {
  display: flex;
  justify-content: left;
  margin-bottom: 10%; }

.telegram-content-title__text {
  line-height: 1;
  margin-left: 20px; }

.telegram-content-list {
  padding-left: 20px;
  margin: 10% 0; }

.telegram-content-list__entry {
  margin: 5% 0; }

.telegram-button_position {
  position: absolute;
  bottom: 35px;
  width: 80%; }

.dots {
  width: 100%;
  margin: 40px 0; }

.dots__item {
  border: 2px solid #30ae63;
  border-radius: 50%;
  margin: 0 6px;
  height: 14px;
  width: 14px; }

.dots__item:hover {
  background-color: #30ae63; }

.blog {
  width: 100%;
  background-color: white;
  padding-top: 10px; }

.blog__title {
  margin: 0 auto 20px; }

.blog-feed {
  margin: 0 5% 30px; }

.blog-feed-item {
  width: 33%;
  text-align: left;
  margin: 0 1.5%; }

.blog-feed-item__topic {
  font-size: 16px;
  font-weight: normal;
  color: black; }

.blog-feed-item__topic:hover {
  color: #8c9ba5; }

.blog-feed-item__category {
  font-size: 11px;
  font-weight: normal; }

.blog-feed-item__category:hover {
  color: #8c9ba5; }

.blog-feed-item__category_lilac {
  color: #ba8ff7; }

.blog-feed-item__category_green {
  color: #30ae63; }

.blog-feed-item__category_blue {
  color: #2573d8; }

.blog-feed-item__image {
  max-width: 100%;
  height: auto;
  text-align: center; }

.blog-feed-item-author {
  color: #8c9ba5;
  font-size: 12px;
  display: flex;
  justify-content: left; }

.blog-feed-item-author__divider {
  border-radius: 50%;
  background-color: #8c9ba5;
  width: 3px;
  height: 3px;
  margin: 7px 7px 0; }

.blog-button {
  width: 100%;
  line-height: 40px;
  border-top: 2px solid #dfe3e6; }

.blog-button_font {
  font-size: 16px;
  color: black; }

.blog-button_font:hover {
  color: #8c9ba5; }

.column {
  width: 20%;
  margin-right: 5%;
  margin-top: 40px; }

.column-list {
  list-style-type: none;
  font-size: 13px; }

.column-list__title {
  font-size: 16px; }

.column-list-entry {
  margin: 20px 0; }

.column-list-entry__text {
  color: black; }

.column-list-entry__text:hover {
  color: #30ae63; }

.column-list-entry__address {
  font-size: 11px; }

body {
  font: 14px "Open Sans", sans-serif;
  background-color: rgba(90, 104, 114, 0.08); }

* {
  box-sizing: border-box; }

@media only screen and (min-width: 890px) {
  .content {
    width: 80%;
    margin: 0 auto; }

  .centering-block, .connect-buttons, .dots, .blog-feed {
    display: flex;
    justify-content: center; }

  .button, .blog-button {
    min-height: 40px;
    text-align: center; }

  .button_green {
    padding: 10px 0;
    border-radius: 2px;
    background-color: #30ae63;
    color: white; }

  .button_green:hover {
    background-color: #8c9ba5; }

  .text_non-decorated, .blog-feed-item__topic, .blog-feed-item__category, .column-list-entry__text {
    text-decoration: none; }

  .title_centering {
    max-width: 600px;
    text-align: center; }

  .logo {
    width: 100%;
    text-align: center;
    margin: 20px 0 50px 0; } }
@media only screen and (max-width: 889px) {
  .telegram_phone {
    display: none; }

  .content {
    width: 100%; }

  .connect {
    margin: 30px auto;
    max-width: 600px;
    text-align: center; }

  .connect_btns {
    margin: 0 auto;
    display: flex;
    justify-content: center; }

  .connect_btn {
    margin: 0 20px;
    padding: 10px;
    border-bottom: 3px solid transparent; }

  .connect_btn:hover {
    border-bottom: 3px solid #30ae63; } }

/*# sourceMappingURL=stylesheet.css.map */
